<div class="app-container">
  <div class="nav">
    <ul>
      <li>
        <div>
          <img style="width: 20px; height: auto;" src="../../icon/search.png" alt="" srcset="">
          <input id="find-friend" name="findFriend" type="text">
        </div>
      </li>
      <li>
        <div id="newGroup">New Group</div>
      </li>
      <li>
        <a href="/logout">
          <img style="width: 20px; height: auto;" src="../../icon/logout.png" alt="">
        </a>
      </li>
    </ul>
    {{!-- <div class="title">MessagesBox</div> --}}
  </div>
  <div class="chat-container">
    <div id="contact-list" class="contact-list">
      <ul>
        {{!-- <li>
          <a href="">
            <img class="avatar" src="icon/PngItem_5167304.png" alt="">
            <div class="in4">
              <div class="in4-1">Admin</div>
              <div class="in4-2">Hello world...</div>
            </div>
          </a>
        </li> --}}
        {{#each data.fullList as |e index|}}
        {{#if e.isUser}}
        <li>
          <a role="link" data-username="{{e.username}}" href="/app/u/{{e.username}}" rcv-type="user">
            <img class="avatar" src="../../icon/PngItem_5167304.png" alt="">
            <div class="in4">
              <div class="in4-1">{{e.fullname}}</div>
              {{#if e.seenMsg}}
              <div id="lst-msg" class="in4-2">{{e.lastestSender}}{{e.lastestMsg}}</div>
              {{else}}
              <div id="lst-msg" style="font-weight: bold; color: black;" class="in4-2">{{e.lastestSender}}{{e.lastestMsg}}</div>
              {{/if}}
            </div>
          </a>
        </li>
        {{/if}}
        {{#if e.isGroup}}
        <li>
          <a role="link" data-group-id="{{e.id}}" href="/app/g/{{e.id}}" rcv-type="group">
            <img class="avatar" src="../../icon/PngItem_5167304.png" alt="">
            <div class="in4">
              <div class="in4-1">{{e.name}}</div>
              {{#if e.seenMsg}}
              <div id="lst-msg" class="in4-2">{{e.lastestSender}}{{e.lastestMsg}}</div>
              {{else}}
              <div id="lst-msg" style="font-weight: bold; color: black;" class="in4-2">{{e.lastestSender}}{{e.lastestMsg}}</div>
              {{/if}}
            </div>
          </a>
        </li>
        {{/if}}
        
        {{/each}}
      </ul>
    </div>
    <div class="chat-box">
      <div class="box-1">
        <div id="msg_box" class="msg-box">
          {{!-- <!-- 2 sent message frame starts here -->
          <div class="sent-f">
            <div class="sent-ct">
              <div class="sent-ct-inb">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate beatae, magnam earum vero nam nulla amet distinctio iure harum eligendi sed omnis quasi officia facilis explicabo, laudantium quod ipsam soluta.</p>
              </div>
            </div>
            <div class="sent-ava">
              <img src="icon/PngItem_5167304.png" alt="" srcset="">
            </div>
          </div>
          
          <div class="sent-f">
            <div class="sent-ct">
              <div class="sent-ct-inb">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate beatae, magnam earum vero nam nulla amet distinctio iure harum eligendi sed omnis quasi officia facilis explicabo, laudantium quod ipsam soluta.</p>
              </div>
            </div>
            <div class="sent-ava">
              <img src="icon/PngItem_5167304.png" alt="" srcset="">
            </div>
          </div>
          <!-- ends here -->
          <!-- 1 received message frame starts here -->
          <div class="rcv-f">
            <div class="rcv-ava">
              <img src="icon/PngItem_5167304.png" alt="" srcset="">
            </div>
            <div class="rcv-ct">
              <div class="rcv-ct-inb">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium sint excepturi eius nesciunt iure velit exercitationem sed nulla. Molestias rerum non ad eum fuga laudantium nihil, odio fugiat iure deleniti!Omnis eaque obcaecati saepe numquam non. Dolorum assumenda impedit inventore nisi dolor, explicabo tempora cum tenetur. Omnis accusamus, natus ipsa beatae assumenda sunt expedita accusantium ex dolore facilis quas obcaecati.</p>
              </div>
            </div>
          </div>
          <!-- ends here -->
          <!-- 1 received image frame starts here -->
          <div class="rcv-f">
            <div class="rcv-ava">
              <img src="icon/PngItem_5167304.png" alt="" srcset="">
            </div>
            <div class="rcv-ct">
              <div class="rcv-ct-inb">
                <img src="../../img/testImg.jpg" alt="" srcset="">
              </div>
            </div>
          </div>
          <!-- ends here --> --}}
          {{#each data.historyChat}}
            {{#if this.isSender}}
              <div class="sent-f">
                <div class="sent-ct">
                  <div class="sent-ct-inb">
                    {{#if this.text}}
                    <p>{{this.content}}</p>
                    {{/if}}
                    {{#if this.img}}
                    <img src="../../{{this.content}}" alt="" srcset="">
                    {{/if}}
                    {{#if this.file}}
                    <a href="../../{{this.link}}">{{this.fileName}}</a>
                    {{/if}}
                  </div>
                </div>
                <div class="sent-ava">
                  {{this.sender_username}}
                </div>
              </div>
            {{else}}
              <div class="rcv-f">
                <div class="rcv-ava">
                  {{this.sender_username}}
                </div>
                <div class="rcv-ct">
                  <div class="rcv-ct-inb">
                    {{#if this.text}}
                    <p>{{this.content}}</p>
                    {{/if}}
                    {{#if this.img}}
                    <img src="../../{{this.content}}" alt="" srcset="">
                    {{/if}}
                    {{#if this.file}}
                    <a href="../../{{this.link}}">{{this.fileName}}</a>
                    {{/if}}
                  </div>
                </div>
              </div>
            {{/if}}
          {{/each}}
        </div>
      </div>
      <div class="box-2">
        <div class="f-icon">
          <img width="25px" src="../../icon/smile-solid.svg" alt="" srcset="">
        </div>
        <div class="f-icon">
          <input type="file" name="fileUpload" id="fileUpload" accept="*">
          <label for="fileUpload">
            <img width="20px" src="../../icon/file-solid.svg" alt="" srcset="">
          </label>
        </div>
        <div style="display: flex; align-items: center;" class="t-field">
          <textarea name="" id="t_msg"></textarea>
          {{!-- <div style="position: relative;">
            <img style="width: 10%; height: auto;" src="../../img/testImg.jpg" alt="" srcset="">
          </div> --}}
        </div>
        <div class="f-icon">
          <img id="s_btn" width="25px" src="../../icon/paper-plane-solid.svg" alt="" srcset="">
        </div>
      </div>
    </div>
  </div>
  <div style="display: none;" id="previewUpload" class="prev-upl-f">
    <img id="discardBtn" class="discard-btn" style="width: 30px; height: auto;" src="../../icon/x-icon-png-17.png" alt="" srcset="">
    <img id="previewFile" class="file" style="width: 50%; height: auto;" src="" alt="" srcset="">
    <div id="sendFile" class="send-file-btn">Send</div>
  </div>
</div>
<div style="display: none;" id="reg-g-f" class="reg-g-f">
  <div class="reg-g-b">
    <div class="close-box">
      <img id="closeBtn" style="width: 25px; height: auto" src="../../icon/x-icon-png-17.png" alt="">
    </div>
    <div style="text-align: center; margin-top: 10px;">
      <button id="createGroup" class="btn btn-primary" disabled="disabled">Create group</button>
    </div>
    <div class="ip-b">
      <div class="my-1 border-bottom border-dark">
        <input class="ip-g" placeholder="Your group name" type="text" name="nameGroup" id="nameGroup">
      </div>
      <div class="my-1 border-bottom border-dark">
        <input class="ip-g" placeholder="Search people" type="text" name="search" id="searchfriendtoaddgroup">
      </div>
    </div>
    <div class="list-pp">
      <ul id="listpeople">
        <li class="row py-1">
          {{!-- <div class="col-lg-1">ava</div>
          <div class="col-lg-8">Name</div>
          <div class="col-lg-3">
            <button class="btn btn-success">Add</button>
          </div> --}}
        </li>
      </ul>
    </div>
  </div>
</div>
{{#if logged}}
<script>
  const USERNAME = "{{myUsername}}";
  const ID = "{{myID}}";
  const URL_ = "{{url}}";
</script>
<script src="../../js/variables.js"></script>
<script src="../../js/displayHTML.js"></script>
<script src="../../js/validateFile.js"></script>
<script src="../../js/process.js"></script>
{{!-- <script src="../../js/process_ver2.js"></script> --}}
{{/if}}